
RewriteEngine On   				# Ativa o módulo de reescrita de URL no Apache. 

# caso eu queira aplica essa regra só pra coaminhos não existentes 
# RewriteCond %{REQUEST_FILENAME} !-f		# condição é verdadeira quando o arquivo NÃO existe
# RewriteCond %{REQUEST_FILENAME} !-d		# condição é verdadeira quando o diretório NÃO existe

# Redireciona todas as URLs que não correspondem a um arquivo ou diretório existente para o arquivo "index.php". 
# "?uri=$1" anexa a URL original como um parâmetro GET chamado "uri". 
# "QSA" significa que os parâmetros de consulta existentes são preservados e 
# "L" 	é um sinalizador que indica que esta é a última regra a ser processada.

# RewriteCond %{HTTP_HOST} sarahelizabethbeauty\.ifhost\.gru\.br [NC]
# RewriteCond %{SERVER_PORT} 80
# RewriteRule ^(.*)$ https://sarahelizabethbeauty.ifhost.gru.br/$1 [R,L]

# RewriteRule ^(.*)$ ctrlRotas.php?uri=$1 [QSA,L]

<IfModule mod_rewrite.c>
    RewriteEngine On

    # Redireciona HTTP para HTTPS
    RewriteCond %{HTTPS} off
    RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

    # Remove a extensão .php das URLs
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME}\.php -f
    RewriteRule ^(.*)$ $1.php [L]

    # Bloqueia acesso a arquivos sensíveis
    <FilesMatch "\.(env|htaccess|htpasswd|ini|log|sh|sql)$">
        Order Allow,Deny
        Deny from all
    </FilesMatch>
</IfModule>
