<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/estilos_unificado.css"> 
    <title>Galeria Atual - Sarah Elizabeth</title>
</head>
<body>

    <div class="cx-container">

        <div class="menu-lateral">
            <div class="inicio-logo"><div class="img-logo"><img src="img/logo-circular.png" alt=""></div></div>
            
            <nav class="links">
                <a href="modificacoes.html" class="active">MODIFICAÇÕES</a>
                <a href="">AGENDA</a>
                <a>CONTA</a>
            </nav>
    
            <div class="saida">
                <img src="img/sair.png" alt="">
                <p>SAIR</p>
            </div>
        </div>
    
        <div class="cx-principal">
            <div class="pagina-principal">
                <div class="titulo">
                    <h1>SEJA BEM-VINDA, <span class="titulo-gradiente">SARAH ELIZABETH!</span></h1>
                </div>
            </div>

            <div class="galeria-section">
                <h2 class="galeria-titulo titulo-gradiente">GALERIA ATUAL</h2>
                
                <div class="galeria-grid">
                    <div class="galeria-item">
                        <img src="" alt="Foto 1">
                        <button class="btn-excluir-img">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
                                <path d="M15 1.5a.5.5 0 0 0-.5-.5h-13a.5.5 0 0 0-.5.5v13a.5.5 0 0 0 .5.5h13a.5.5 0 0 0 .5-.5v-13zM1 14V2h12v12H1z"/>
                                <path d="M4.5 4.5a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-.5.5h-6a.5.5 0 0 1-.5-.5v-6z"/>
                            </svg>
                        </button>
                    </div>

                    <div class="galeria-item">
                        <img src="" alt="Foto 2">
                        <button class="btn-excluir-img"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16"><path d="M15 1.5a.5.5 0 0 0-.5-.5h-13a.5.5 0 0 0-.5.5v13a.5.5 0 0 0 .5.5h13a.5.5 0 0 0 .5-.5v-13zM1 14V2h12v12H1z"/><path d="M4.5 4.5a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-.5.5h-6a.5.5 0 0 1-.5-.5v-6z"/></svg></button>
                    </div>

                    <div class="galeria-item">
                        <img src="" alt="Foto 3">
                        <button class="btn-excluir-img"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16"><path d="M15 1.5a.5.5 0 0 0-.5-.5h-13a.5.5 0 0 0-.5.5v13a.5.5 0 0 0 .5.5h13a.5.5 0 0 0 .5-.5v-13zM1 14V2h12v12H1z"/><path d="M4.5 4.5a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-.5.5h-6a.5.5 0 0 1-.5-.5v-6z"/></svg></button>
                    </div>

                    <div class="galeria-item">
                        <img src="" alt="Foto 4">
                        <button class="btn-excluir-img"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16"><path d="M15 1.5a.5.5 0 0 0-.5-.5h-13a.5.5 0 0 0-.5.5v13a.5.5 0 0 0 .5.5h13a.5.5 0 0 0 .5-.5v-13zM1 14V2h12v12H1z"/><path d="M4.5 4.5a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-.5.5h-6a.5.5 0 0 1-.5-.5v-6z"/></svg></button>
                    </div>

                    <div class="galeria-item">
                        <img src="" alt="Foto 5">
                        <button class="btn-excluir-img"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16"><path d="M15 1.5a.5.5 0 0 0-.5-.5h-13a.5.5 0 0 0-.5.5v13a.5.5 0 0 0 .5.5h13a.5.5 0 0 0 .5-.5v-13zM1 14V2h12v12H1z"/><path d="M4.5 4.5a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-.5.5h-6a.5.5 0 0 1-.5-.5v-6z"/></svg></button>
                    </div>

                    <div class="galeria-item">
                        <img src="" alt="Foto 6">
                        <button class="btn-excluir-img"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16"><path d="M15 1.5a.5.5 0 0 0-.5-.5h-13a.5.5 0 0 0-.5.5v13a.5.5 0 0 0 .5.5h13a.5.5 0 0 0 .5-.5v-13zM1 14V2h12v12H1z"/><path d="M4.5 4.5a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-.5.5h-6a.5.5 0 0 1-.5-.5v-6z"/></svg></button>
                    </div>
                </div>

                <div class="galeria-footer">
                    <a href="#" class="btn-voltar-galeria">VOLTAR</a>
                </div>
            </div>

        </div>
    </div>

</body>
</html>
